body > section{
    width: 100%;
    min-width: 100vh;
    padding: 0.4rem;
}

#Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.65rem;
    border: 1px solid #999;
    border-radius: 1rem;
}

#Cards article {
    padding: 0.5rem;
  
    flex: 1 0 350px;
    max-width: 500px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    gap: 0.5rem;
  
    border: 1px solid #999;
    border-radius: 1rem;

    box-shadow: #999 0 0 0.5rem;
}

h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

p{
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.25rem 0;
}
  
/*Botones*/
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
div .cancelB{
    width: 175px;
    height: 30px;
    background-color: #810c04;
    color: #fff;
    border: none;
    border-radius: 0 1.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

div .acceptB{
    width: 175px;
    height: 30px;
    background-color: #097a0d;
    color: #fff;
    border: none;
    border-radius: 0 1.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/*Hover*/
div .cancelB:hover{
    background-color: #f44336;
    color: #fff;
}
div .acceptB:hover{
    background-color: #4caf50;
    color: #fff;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



