/*Header*/

header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0 0 0.5rem 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: $theme-background-color;
}

header > #logo-container {
    width: auto;
    height: auto;
    justify-content: flex-start;
    padding: 0.5rem;
}

header > #logo-container > #hamburger {
    display: none;
    width: 2rem;
    height: 2rem;
    justify-content: space-between;
}

header > #logo-container > #logo {
    width: 100px;
    height: 100px;
}

header > #logo-container > #logo > img {
    width: 100%;
    height: 100%;
}


nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

nav >ul > li {
    list-style: none;
}

nav > ul > li > a{
    display: inline-block;
    padding: 1.5rem;
    
    color: $theme-color-accent;
    text-decoration: none;
}

nav > ul > li.btn {
    padding: 1rem;
    font-weight: 700;
}

nav > ul > li.btn > a {
    color: $theme-text-color-alt;
    background-color: $theme-color-accent
}

/*Landing-Section*/

#landing-section{
    display: flex;
    height: 80vh;
    align-items: center;
    background-color: $theme-color-primary;
    padding: 70px;
}

#landing-section > .side-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

#landing-section > .side-text > hr {
    width: 50%;
    height: 0.2rem;
    display: flex;
    background-color: $theme-background-color;
    text-align: start;
}

#landing-section > .side-text > h2 {
    font-family: $theme-Roboto-font;
    font-size: 3rem;
    font-weight: 700;
    color: $theme-text-color-alt;
    text-align: start;
}

#landing-section > .side-text > p {
    font-family: $theme-Montserrat-font;
    font-size: 1.5rem;
    font-weight: 400;
    color: $theme-text-color-alt;
    text-align: justify ;
    padding: 50px 0;
}

#landing-section > .side-text > .btn-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 30rem;
    font-family: $theme-Montserrat-font;
    font-size: 1rem;
    font-weight: 700;
    color: $theme-text-color-alt;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 0.2rem solid $theme-text-color-alt;
}

#landing-section > .side-text > .btn-light:hover {
    background-color: $theme-text-color-alt;
    color: $theme-color-primary;
}


#landing-section > .side-image  {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    padding: 20px;
}

#landing-section > .side-image > img {
    height: 80%;
    object-fit: cover;
    justify-content: center;
    border-radius: 0.5rem;
}
//Responsive design for tablets
@media screen and (max-width: 1084px) {
    header > #logo-container > #hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
    }

    header > #logo-container > #hamburger > div {
        width: 100%;
        height: 0.2rem;
        background-color: $theme-color-accent;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $theme-background-color;

    }

    nav > ul {
        display: none;
    }

    #landing-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        align-items: center;
        background-color: $theme-color-primary;
        padding: 174px;
    }

    #landing-section > .side-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 50px;
    }

    #landing-section > .side-text > hr {
        width: 50%;
        height: 0.2rem;
        background-color: $theme-background-color;  
    }

    #landing-section > .side-text > h2 {
        font-family: $theme-Roboto-font;
        font-size: 2rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        text-align: start;
        margin: 20px 0;
    }

    #landing-section > .side-text > p {
        font-family: $theme-Montserrat-font;
        font-size: 1rem;
        font-weight: 400;
        color: $theme-text-color-alt;
        text-align: justify ;
    }

    #landing-section > .side-text > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
        font-family: $theme-Montserrat-font;
        font-size: 1rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid $theme-text-color-alt;
    }

    #landing-section > .side-text > a:hover {
        background-color: $theme-text-color-alt;
        color: $theme-color-primary;
    }

    #landing-section > .side-image  {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #landing-section > .side-image > img {
        object-fit: cover;
        justify-content: center;
        border-radius: 0.5rem;
    }
}
//Responsive design for mobiles
@media screen and (max-width: 843px) {
    header > #logo-container > #hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
    }

    header > #logo-container > #hamburger > div {
        width: 100%;
        height: 0.2rem;
        background-color: $theme-color-accent;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $theme-background-color;

    }

    nav > ul {
        display: none;
    }

    #landing-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 76vh;
        align-items: center;
        background-color: $theme-color-primary;
        padding: 43px;
    }

    #landing-section > .side-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        padding: 50px;
    }

    #landing-section > .side-text > hr {
        width: 50%;
        height: 0.2rem;
        background-color: $theme-background-color;  
    }

    #landing-section > .side-text > h2 {
        font-family: $theme-Roboto-font;
        font-size: 1.5rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        text-align: start;
        margin: 20px 0;
    }

    #landing-section > .side-text > p {
        font-family: $theme-Montserrat-font;
        font-size: 0.75rem;
        font-weight: 400;
        color: $theme-text-color-alt;
        text-align: justify ;
    }

    #landing-section > .side-text > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
        font-family: $theme-Montserrat-font;
        font-size: 1rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid $theme-text-color-alt;
    }

    #landing-section > .side-text > a:hover {
        background-color: $theme-text-color-alt;
        color: $theme-color-primary;
    }

    #landing-section > .side-image  {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #landing-section > .side-image > img {
        object-fit: cover;
        justify-content: center;
        border-radius: 0.5rem;
    }

}

@media screen and (max-width: 470px){
    #landing-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 79vh;
        align-items: center;
        background-color: $theme-color-primary;
        padding: 2px;
    }

    #landing-section > .side-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        padding: 50px;
    }

    #landing-section > .side-text > hr {
        width: 50%;
        height: 0.2rem;
        background-color: $theme-background-color;  
    }

    #landing-section > .side-text > h2 {
        font-family: $theme-Roboto-font;
        font-size: 1.5rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        text-align: start;
        margin: 20px 0;
    }

    #landing-section > .side-text > p {
        font-family: $theme-Montserrat-font;
        font-size: 0.75rem;
        font-weight: 400;
        color: $theme-text-color-alt;
        text-align: justify ;
    }

    #landing-section > .side-text > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
        font-family: $theme-Montserrat-font;
        font-size: 1rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 0.2rem solid $theme-text-color-alt;
    }

    #landing-section > .side-text > a:hover {
        background-color: $theme-text-color-alt;
        color: $theme-color-primary;
    }

    #landing-section > .side-image  {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #landing-section > .side-image > img {
        object-fit: cover;
        justify-content: center;
        border-radius: 0.5rem;
    }
}