#space-section{
    height: 100%;
    width: 100%;
    gap: 1rem;
    background-color: $theme-background-color;
}

#spaces-section > .container{
    background-color: $theme-background-color-alt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding: 3rem;
    place-content: center;
}

#spaces-section > .container > #spaces-title{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $theme-Montserrat-font;
    font-size: 1.5rem;
    font-weight: 700;
    color: $theme-text-color-alt;
    background-color: $theme-color-accent;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#spaces-section .container > .space-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $theme-text-color-alt;
    padding: 4rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

#spaces-section .container > .space-card > figure > img{
    width: 90px;
    height: 90px;
    border-radius: 1rem 1rem 0 0;
    place-content: end left;
}

#spaces-section .container > .space-card > .space-card > h3{
    font-family: $theme-Montserrat-font;
    font-size: 1.5rem;
    font-weight: 700;
    color: $theme-text-color;
    text-align: center;
    padding: 1rem;
}

#spaces-section .container > .space-card > .space-card > p{
    font-family: $theme-Montserrat-font;
    font-size: 1rem;
    font-weight: 400;
    color: $theme-text-color;
    text-align: center;
    padding: 1rem;
}

//hover effect with mouse
#spaces-section .container > .space-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

//responsive
@media screen and (max-width: 843px){
    #spaces-section > .container{
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: repeat(2, 0.5fr);
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
        padding: 1.5rem;
        margin: 0.5rem;
        place-content: center;
    }

    #spaces-section > .container > #spaces-title{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $theme-Montserrat-font;
        font-size: 0.75rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        background-color: $theme-color-accent;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    #spaces-section .container > .space-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $theme-text-color-alt;
        padding: 2rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
    }

    #spaces-section .container > .space-card > figure > img{
        width: 60px;
        height: 60px;
        border-radius: 0.5rem 0.5rem 0 0;
        place-content: end left;
    }

    #spaces-section .container > .space-card > .space-card > h3{
        font-family: $theme-Montserrat-font;
        font-size: 0.75rem;
        font-weight: 700;
        color: $theme-text-color;
        text-align: center;
        padding: 0.75rem;
    }

    #spaces-section .container > .space-card > .space-card > p{
        font-family: $theme-Montserrat-font;
        font-size: 0.5rem;
        font-weight: 400;
        color: $theme-text-color;
        text-align: center;
        padding: 0.75rem;
    }

    //hover effect with mouse
    #spaces-section .container > .space-card:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
}

//responsive from mobile
@media screen and (max-width: 470px){
    #spaces-section > .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        padding: 1rem;
        margin: 1rem;
        place-content: center;
    }

    #spaces-section > .container > #spaces-title{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $theme-Montserrat-font;
        font-size: 0.75rem;
        font-weight: 700;
        color: $theme-text-color-alt;
        background-color: $theme-color-accent;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    #spaces-section .container > .space-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $theme-text-color-alt;
        padding: 2rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
    }

    #spaces-section .container > .space-card > figure > img{
        width: 60px;
        height: 60px;
        border-radius: 0 0 1rem rem;
        place-content: end left;
    }

    #spaces-section .container > .space-card > .space-card > h3{
        font-family: $theme-Montserrat-font;
        font-size: 0.75rem;
        font-weight: 700;
        color: $theme-text-color;
        text-align: center;
        padding: 0.75rem;
    }

    #spaces-section .container > .space-card > .space-card > p{
        font-family: $theme-Montserrat-font;
        font-size: 0.5rem;
        font-weight: 400;
        color: $theme-text-color;
        text-align: center;
        padding: 0.75rem;
    }

    //hover effect with mouse
    #spaces-section .container > .space-card:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }

}
