/* #region Fuentes */
$theme-Handlee-font: 'Handlee', cursive;
$theme-Montserrat-font: 'Montserrat', sans-serif;
$theme-Roboto-font: 'Roboto', sans-serif;
$theme-Space-Mono-font: 'Space Mono', monospace;
/* #endregion */

/* #region Colores */
$theme-color-primary: hsl(213, 58%, 19%);
$theme-color-primary-light: hsl(213, 33%, 33%);
$theme-color-accent: hsl(224, 100%, 58%);
$theme-color-accent-dark: hsl(223, 100%, 40%);
$theme-color-accent-light: hsl(229, 100%, 73%);
$theme-color-accent-alt: hsl(166, 37%, 73%);
$theme-color-accent-alt-dark: hsl(173, 100%, 91%);
$theme-color-accent-alt-light: hsl(166, 22%, 54%);
$theme-background-color: white;
$theme-background-color-alt: hsl(0, 0%, 93%);
$theme-background-color-alt-dark: hsl(0, 0%, 85%);
$theme-text-color: hsl(0, 0%, 25%);
$theme-text-color-alt: white;
$theme-heading-color: hsl(0, 0%, 0%);
/* #endregion */